body{
    background: #f0ffff;
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
input[type="checkbox"]{
    display: none
}
svg{
    display: block;
    width: 30px;
}
.custom-checkbox{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.check{
    width: 15px;
    height: 15px;
    border: 2px solid #333;
    border-radius: 5px;
    background: #fff;
    margin-right: 10px;
    padding: 2px;
}
img{
    max-width: 100%;
    width: auto;
}
.check img{
    display: none
}
input:checked + .check img{
    display: block
}
main{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 50px #ccc;
}

.todo__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background: bisque;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.todo__item:hover{
    background: #cfbaa1
}

.todo__delete{
    text-decoration: none;
    color: #000;
    background: #fff;
    display: inline-flex;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 100px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.todo__delete img{
    max-width: 80%
}


.todo__add-form{
    display: none;
    margin-bottom: 15px;
}

.todo__add-form.active{
    display: block;
}

.todo__add-btn{
    background: azure;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    border: none;

    margin-bottom: 15px;
}

.todo__add-btn:hover{
    background: #cadbdb;
}

.mb0{
    margin-bottom: 0;
}

.todo__input{
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid silver
}

.todo__text[readonly],
.todo__text[disabled]{
    background: transparent;
    border: unset;
}
.todo__text{
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
}
.todo__value{
    left: 0px;
    top: 0px;
}

.todo__manage-buttons{
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}

form{
    display: block;
    width: 100%;
}
span,a{
    display: block
}