<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    
    <title>My Todo list</title>
</head>
<body>
    <main>
        <section id="app" class="todo">
            <h1>Список дел</h1>
            <todo-list list="pages" title="Срочные задачи"></todo-list>
            <todo-list list="news" title="Не срочные задачи"></todo-list>
        </section>

        <script type="text/x-template" id="todo-list-template">
            <div>
                <h3>{{title}}</h3>
                <a v-if="!isEmptyCheckboxList" class="todo__add-btn" @click="selectAll()">Выбрать все </a>
                <a v-if="!isEmptyCheckboxList" class="todo__add-btn" @click="deleteSelected()">Удалить выбранное</a>

                <ul class="todo__list">
                    <li class="todo__item" v-for="(item, index) in json">
                        <label :for="index" class="custom-checkbox">
                            <input type="checkbox" :value="item.id" v-model="checkBoxCheckedList" class="custom-checkbox__input" :id="index">
                            <div class="check"><img src="images/tick.svg" alt=""></div>

                            <form action="php/update.php" method="GET" @submit.prevent="edit(item)">
                                <span v-show="!item.active" class="todo__value">{{ item.title }}</span>
                                <input v-show="item.active" type="text" ref="edit_task" v-model="item.title" class="todo__text">

                                <a href="#!" class="todo__manage-buttons todo__delete" @click="toggleTaskView(index)" v-show="!item.active"><img src="images/pen.png" alt=""></a>
                                <button v-show="item.active" class="todo__manage-buttons todo__add-btn" type="submit">done</button>
                            </form>
                            <a href="#!" class="todo__delete" @click="del(item)">x</a>
                        </label>
                    </li>
                </ul>
                <p v-if="isEmpty">{{ text.emptyList }}</p>
                <span @click="toggleClass()" class="todo__add-btn">Добавить задачу +</span>
                <form :class="{active: isActive}" class="todo__add-form " action="todo/add.php" method="GET" @submit.prevent="addTask">
                    <input class="todo__input" type="text" name="task" placeholder="Помыть посуду" v-model="task">
                    <button class="todo__add-btn mb0" type="submit">Добавить +</button>
                </form>
                <p class="help">{{ text.error }}</p>
            </div>
        </script>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>