@mixin btn{
  background: $primary1;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  border: none;
  @include btn-active;

  @media (max-width: 475px){
    padding: 7px;
    span{display: none !important}
  }
}

@mixin btn-active{
  &:active{
    transform: scale(.95);
  }
}

@mixin flex{
  display: flex;
}

@mixin align-h{
  @include flex;
  justify-content: center;
}

@mixin align-v{
  @include flex;
  align-items: center;
}

@mixin align-both{
  @include align-h;
  @include align-v;
}

@mixin input{
  outline: none;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid silver;
}