@media (max-width: 768px) {
  body{
    padding: 0 15px;
  }
  main{
    padding: 5px;
  }
  .title{
    margin-left: 10px;
    margin-bottom: 10px !important;}
  .subtitle{
    margin-bottom: 10px !important;}

  .tasks-wrapper>div{
    width: 100% !important;
    margin-bottom: 20px;
    border-right: unset !important
  }
}

@media screen and (max-width: 475px) {

  $primary1: #007AFF;
  $bg: #f2f2f2;
  
  body{
    padding: 0;
    background-color: $bg;
  }
  .l-wrap{
    padding: 0 5px
  }
  main{
    padding: 20px 0 0 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: unset;
  }
  .tasks-wrapper > div{
    margin: 10px;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
  }
  .title{
    padding-left: 0;
  }
  .subtitle{
    color: $primary1;
    font-weight: 300;
    font-size: 17px;
    opacity: 1;
  }
  .todo__list{
    border-bottom: 1px solid $bg;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .todo__item{
    
  }
  .button-group{
    
  }
}