.custom-checkbox {
  @include align-v;
  cursor: pointer;
  width: 100%;

  &__input {
    display: none;
  }

  &__input:checked + &__icon img{
    display: block;
  }

  &__icon{
    width: 28px;
    height: 28px;
    border: 2px solid #333;
    border-radius: 5px;
    background: #fff;
    margin-right: 10px;
    padding: 2px;
    flex-shrink: 0;

    img{
      display: none;
    }
  }
}
